.main-container {
    background-color: #fff;
    margin-left: 180px;
    min-height: 100%;
}

.main-container-shrink {
    @extend .main-container;
    margin-left: 36px;
}

.app-main {
    min-height: 100%;
}

.app-container {
    margin: 15px;
}
