.navigation-bar {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    line-height: 50px;
    border-bottom: solid 1px #e6e6e6;
}

.navigation-icon {
    font-size: 25px;
    cursor: pointer;
    margin-left: 10px;
}

.navigation-icon-shrink {
    @extend .navigation-icon;
    position: relative;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
